/**Custom Fonts**/
@font-face {
  font-family: FuturaTEEMedRegular;
  src: url(./fonts/FuturaTEEMedRegular.ttf);
}

@font-face {
  font-family: FuturaTEERegular;
  src: url(./fonts/FuturaTEERegular.ttf);
}
/**End Custom Fonts**/

html {
  font-family: "FuturaTEEMedRegular",Helvetica,Arial,sans-serif;  
}

body {
  color: #ffffff;
  background-color: #666;
}

h1 {
  font-weight: normal;
  font-size: 45px;
}

h3 {
  font-size: 20px;
  font-family: "FuturaTEERegular";
  font-weight: normal;
}

#main-container {
  max-width: 1300px;
  margin: auto;
  padding: 100px;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section {
  margin-bottom: 30px;
}

.flex-container-row.center-contents{
  justify-content: center;
}

.text .item{
  max-width: 500px;
}

.label{
  text-align: center;
  color: #b3b3b3;
  margin-bottom: 20px;
}

.grid-tile {
  height: 94px;
  width: 94px;
  background: #858585;
  cursor: pointer; 
  cursor: hand;
  margin: 1px;
}

.button .icon{
  background-size: 70px 70px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px;
  position: absolute;
}

.button.active {
  background: #C8C8C8;
}

.button .icon {
  background-image: url(./images/icons/play.svg);
}

.button.playing .icon {
  background-image: url(./images/icons/pause.svg);
  background-size: 40px 40px; 
  padding: 50px 45px 52px 48px;
}

#t1 .button.playing, .t1.grid-tile {
  background-color: #A34BAD;
}

#t2 .button.playing, .t2.grid-tile {
  background-color: #F14080;
}

#t3 .button.playing,  .t3.grid-tile {
  background-color: #FF39D4;
}

#t4 .button.playing,  .t4.grid-tile {
  background-color: #D86CE4;
}

/**blinking button animation**/
.track .button.playing.queued, 
.track .button.queued  {
  -webkit-animation: blink 1s infinite;  /* Safari 4+ */
  -moz-animation: blink 1s infinite;  /* Fx 5+ */
  -o-animation: blink 1s infinite;  /* Opera 12+ */
  animation: blink 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blink {
  from {background-color: #10A4EE;}
    to {background-color: #7FFFFF;}
}
/**End blinking button animation**/

.dial-container {
  padding: 7px; 
}

/* Small Screens */
@media all and (max-width: 500px) {
  #main-container { padding: 20px; }
  h1 { font-size: 30px; }
  h3 { font-size: 18px; }
  .section {margin-bottom: 10px;}
  .grid-tile {width: 65px; height: 65px;}
  .button .icon { padding: 23px 23px 50px 50px; }
  .button.playing .icon { padding: 23px 15px 50px 50px; }
}
/* End Small Screens */

